#include "MovieDB-Common.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(MOVIE_DB_GCC_PREPROCESSOR_DEFINITIONS) DEBUG=1

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(MOVIE_DB_SWIFT_ACTIVE_COMPILATION_CONDITIONS) DEBUG

CODE_SIGN_ENTITLEMENTS = $(PROJECT_DIR)/MovieDB/Configs/Entitlements/MovieDB-development.entitlements

DEBUG_INFORMATION_FORMAT = $(MOVIE_DB_DEBUG_INFORMATION_FORMAT)

ENABLE_BITCODE = NO
